/* only used for at the beginning of a new section */
/* used as standard separator in tables */
/* used for footer comment box border */
/* border for selected table line */
@page {
  margin: 0mm 0mm 0mm 15mm;
  /* page header and footer areas belongs to the margin */
}

.h1 {
  line-height: 18pt;
  /* to match the font size */
}

table.order-sheet {
  width: 100%;
  border-collapse: collapse;
}

table.order-sheet tr td {
  border-bottom: 0.25pt solid #394047;
}

table.order-sheet tr:first-child td {
  border-bottom: 0.5pt solid #0d0a0b;
}

table.order-sheet td {
  width: 32%;
  padding: 5px;
  text-align: right;
}

table.order-sheet td:first-child {
  text-align: left;
  width: 36%;
}

.disclaimer {
  padding-top: 2mm;
}

.reusable-stacy {
  padding-top: 4mm;
}

.reusable-stacy div#box {
  display: inline-block;
  position: relative;
  top: 0.25em;
  width: 1.125em;
  height: 1.125em;
  border: 0.25pt solid #394047;
}
