{% comment %}
- Description: Sub-partial for the detailed warning partial
- Parameters:
  - common-warnings: string array containing common warnings
  - od-warnings: string array containing warnings for the OD eye
  - os-warnings: string array containing warnings for the OS eye
  - message: warning message text 
{% endcomment %}
{% unless common-warnings == empty and od-warnings == empty and os-warnings == empty %}
    <div id="warnings-detailed" class="warnings-component">
        <div class="warning-logo"><img src="{{ versionedReportBaseUrl }}/assets/images/icon_warning.svg" alt="!"/></div>
        <div class="warnings label2">
            {% for warning in common-warnings %}
                <div>{{ warning }}</div>
            {% endfor %}
            {% for warning in od-warnings %}
                <div>{{ warning }}</div>
            {% endfor %}
            {% for warning in os-warnings %}
                <div>{{ warning }}</div>
            {% endfor %}
        </div>
    </div>
{% endunless %}
