<div>
    <div class="sub-headline2">{{ i18n.my.comments }}</div>
    <table class="doctor-comments">
        {% for comment in model %}
            <tr>
                <td class="label1">{{ comment.doctorEmail }}</td>
                <td class="label1">{{ comment.comment }}</td>
            </tr>
        {% endfor %}
    </table>
</div>