@import "../../../../shared/1.1/assets/css/borders";
@import "../../../../shared/1.1/assets/css/colors";

/*
footer {
  padding-right: 3mm;
}
*/
 
.footer-section {
  padding: 0 3mm 0 0;
  margin: 0;
}

.signature-section {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 3mm;
  height: 13mm;
  margin-bottom: 1.5mm;
}

.print-comment {
  width: 90mm;
  padding: 1.5mm;
  line-height: 7.2pt;
  border: $border-comment-box;
}

.signature {
  width: 65mm;
  padding: 1.5mm;
  background: $gs30;
}

.zeiss-logo {
  overflow: hidden;
  justify-content: flex-end;
}

.zeiss-logo img {
  width: 13mm;
  height: 13mm;
}

.device-info-section {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 4.5mm;
}

.page-number {
  justify-content: flex-end;
  text-align: right;
}
