/* only used for at the beginning of a new section */
/* used as standard separator in tables */
/* used for footer comment box border */
/* border for selected table line */
.print-comment,
.signature {
  display: inline-block;
  overflow: hidden;
}

.print-comment div {
  width: 90mm;
  height: 13mm;
  padding: 1.5mm;
  line-height: 7.2pt;
  border: 0.25pt solid #0d0a0b;
  box-sizing: border-box;
}

.signature div {
  margin-left: 2mm;
  width: 66mm;
  height: 13mm;
  padding: 1.5mm;
  background: #ecf2f8;
  box-sizing: border-box;
}

.zeiss-logo {
  display: inline-block;
  overflow: hidden;
  padding-left: 6mm;
  /* minimum half of logo width = (13 (logo width) / 2) - 1.5 (gap) */
}

.zeiss-logo img {
  width: 13mm;
  height: 13mm;
}

.footer {
  display: table;
  margin-right: 21mm;
  /* = 180 (width payload area) - 90 (comment section) - 3 (gap) - 66 (signature width) */
}

.footer div {
  display: table-cell;
  white-space: nowrap;
}

.footer #printedBy {
  padding-left: 4.5mm;
  padding-right: 4.5mm;
}

.footer #pageNumber {
  text-align: right;
  width: 100mm;
  /* high enough value to cover whole rest of the line so that text-align works */
}

/* rotation of the imprint seems be not possible because text is now part of the page margin and "transform" seems to
be not working there, therefore functionality was moved to ImprintTagWorker */
#currentPage:after {
  content: counter(page);
}

#totalPages:after {
  content: counter(pages);
}
