// ====== Color definitions according Styleguide_V1.pdf (page 7) ======

$gs120: #0d0a0b;
$gs100: #394047;
$gs80: #838d9b;
$gs60: #c3ccd9;
$gs30: #ecf2f8;

$y100: #fdca3e;
$y30: #ffefce;

$r100: #ea5454;
$r30: #fad3ca;

$pb100: #3257a4;
$pb30: #a9c6e9;

$o100: #f08354;

$cg100: #38cd56;

// ====== Additional color definition from Selected-IOL-Report-Measurements.pdf ======
// (also used for incision position text in multi calculation pdf)

$pl100: #9f59a4;
