// ====== Color definitions ZUi Styleguide Base - Reports ======
$gs120: #07090D;
$gs100: #394047; // not defined in style guide
$gs80: #828D9E;  // not readable on fax (contrast to low)
$gs30: #ecf2f8;

$r100: #ED5353;
$y100: #FDCA40;
$y30: #ffefce;
$g100: #3AD2A3;

$pb100: #0050F2;
$v100: #7756FB;
$db100: #85A1CC;
$t100: #45D7DE;
$pu100: #CA41FC;
$p100: #F251B7;
$b80: #31B9FF;
$l100: #A8E431;
